*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    // grid-auto-rows: auto;
    //  minmax(150px, auto);
    grid-template-rows: auto;
    grid-template-areas: 
    "one two two three"
    "one two two three"
    "four five six three"
    "four seven eight eight"
    ;
    div{
        background-color: pink;
        text-align: center;
        padding: 20px; 
        img{
            width: 100%;
        }
        &:nth-child(1){
            grid-area: one;
        } 
        &:nth-child(2){
            grid-area: two;
        }  
        &:nth-child(3){
            grid-area: three;
        } 
        &:nth-child(4){
            grid-area: four;
        } 
        &:nth-child(5){
            grid-area: five;
        } 
        &:nth-child(6){
            grid-area: six;
        } 
        &:nth-child(7){
            grid-area: seven;
        } 
        &:nth-child(8){
            grid-area: eight;
        } 
    }
    .item1{
        padding: 50px 0px;
    }
    
}